.App {
  text-align: center;
}

.navbar{
  padding: 2rem;
  background-color: black;
}

.navbar a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  margin-right: 3rem;
}

.navbar .active{
  font-weight: bold;
  color: red;
}

.burger img{
  margin: 3rem;
  width: 15rem;
  height: 10rem;
}

.nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin-right: 3rem;
}

.nav .active{
  font-weight: bold;
  font-size: 1.8rem;
}
